{% load cms_tags sekizai_tags compress thumbnail %}


<div class="row left_icon_text {{ instance.classes }} {{ instance.conf.classes }} left_icon_text_{{ instance.conf.slug }}">
    {% if instance.conf.align == 'left' %}
        {% include 'froala_blocks/left_icon_text/icon_col.html' %}
    {% endif %}
    <div class="{{ instance.conf.col_html_classes }}">
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
    </div>
    {% if instance.conf.align == 'right' %}
        {% include 'froala_blocks/left_icon_text/icon_col.html' %}
    {% endif %}
</div>

{% addtoblock 'css' %}
    <link href="/static/froala_blocks/left_icon_text/style.scss" rel="stylesheet" type="text/x-scss"/>
    <style>
        .left_icon_text.left_icon_text_{{ instance.conf.slug }} .left_icon_text_ico {
        {% if instance.conf.ico_size %}
            font-size: {{ instance.conf.ico_size }}px;
        {% endif %}
        {% if instance.conf.color_ico %}
            color: {{ instance.conf.color_ico }};
        {% endif %}
        }
    </style>
{% endaddtoblock %}

