{% load cms_tags sekizai_tags compress thumbnail %}

<div class="text-center pt-2 d-flex justify-content- justify-content- flex-column flex-grow-1 mt-1">
    <a href="{{ instance.link.get_absolute_url }}" class="mb-2 d-block">
        <img src="{% thumbnail instance.pic 125x125 crop %}" class="rounded-circle" alt="">
    </a>
    <a href="{{ instance.link.get_absolute_url }}" class="mb-3 d-block h3 font-weight-bolder">
        {{ instance.title }}
    </a>
    <div class="mb-1 px-3 flex-fill">
        {{ instance.html|safe }}
    </div>
    <a href="{{ instance.link.get_absolute_url }}" class="mb-3 btn btn-secondary align-self-center">
        {{ instance.link_text }}
    </a>
</div>

{% addtoblock 'css' %}
    {% compress css %}
        <link href="/static/froala_features/leftbigimg_3pluses/style.scss" rel="stylesheet" type="text/x-scss"/>
    {% endcompress %}
{% endaddtoblock %}

